doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="https://code.jquery.com/jquery-3.6.3.min.js")
    link(rel="stylesheet", href="/stylesheets/gmap.css")
    title Document
  body 
    block content 
    #map 
    script(src="/javascripts/gmap.js") 
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHCAZ59-XRJXCmaKGGeLhGZ_AaQXU5J54&callback=initMap") 