doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Custom La Salle Map
    body 
    p #{data}
    iframe(src="https://www.google.com/maps/d/u/0/embed?mid=1SvE6PqEk_P0bmmMwUIg1MispHmlbYyQ&ehbc=2E312F",
     frameborder="0",
      width="820" height="650") 